<div class="container pl-75">
<h1>Shop Now</h1>
</div>
<div class="rectangle"></div>
<br><br>

<div class="container">
  <div class="row">
  <h4>Featured Products</h4>
<div class="col-lg-4 col-md-12 col-sm-12 col-12">
        <!-- Bootstrap 5 card box -->
        <div class="card-box">
            <div class="card-thumbnail shadow ">
            <center>
            <%=image_tag("battery.jpg", class:"img-fluid d")%>
            <p class="text-center">All brands samsung<p>
            <h4 class="text-center">Samsung J7</h4>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <br><br>
            <button type="button" class="btn btn-dark mb-4 btn-sm">Read more</button>
            </center>
            </div> 
        </div>
    </div>

    <div class="col-lg-4 col-md-12 col-sm-12 col-12">
        <!-- Bootstrap 5 card box -->
        <div class="card-box">
            <div class="card-thumbnail shadow ">
            <center>
            <%=image_tag("battery.jpg", class:"img-fluid d")%>
            <p class="text-center">All brands samsung<p>
            <h4 class="text-center">Samsung F9</h4>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <br><br>
            <button type="button" class="btn btn-dark mb-4 btn-sm">Read more</button>
            </center>
            </div> 
        </div>
    </div>

    <div class="col-lg-4 col-md-12 col-sm-12 col-12">
    <!-- Bootstrap 5 card box -->
    <div class="card-box">
        <div class="card-thumbnail shadow ">
        <center>
        <%=image_tag("battery.jpg", class:"img-fluid d")%>
        <p class="text-center">All brands samsung<p>
        <h4 class="text-center">Samsung Note series</h4>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <br><br>
            <button type="button" class="btn btn-dark mb-4 btn-sm">Read more</button>
        </center>
        </div> 
    </div>
</div>


  </div>
  </div>
<br><br>

  <div class="container">
  <div class="row">
  <h4>Best Selling Products</h4>
<div class="col-lg-4 col-md-12 col-sm-12 col-12">
        <!-- Bootstrap 5 card box -->
        <div class="card-box">
            <div class="card-thumbnail shadow ">
            <center>
            <%=image_tag("battery.jpg", class:"img-fluid d")%>
            <p class="text-center">All brands samsung<p>
            <h4 class="text-center">Samsung J7</h4>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <br><br>
            <button type="button" class="btn btn-dark mb-4 btn-sm">Read more</button>
            </center>
            </div> 
        </div>
    </div>

    <div class="col-lg-4 col-md-12 col-sm-12 col-12">
        <!-- Bootstrap 5 card box -->
        <div class="card-box">
            <div class="card-thumbnail shadow ">
            <center>
            <%=image_tag("battery.jpg", class:"img-fluid d")%>
            <p class="text-center">All brands samsung<p>
            <h4 class="text-center">Samsung F9</h4>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <br><br>
            <button type="button" class="btn btn-dark mb-4 btn-sm">Read more</button>
            </center>
            </div> 
        </div>
    </div>

    <div class="col-lg-4 col-md-12 col-sm-12 col-12">
    <!-- Bootstrap 5 card box -->
    <div class="card-box">
        <div class="card-thumbnail shadow ">
        <center>
        <%=image_tag("battery.jpg", class:"img-fluid d")%>
        <p class="text-center">All brands samsung<p>
        <h4 class="text-center">Samsung Note series</h4>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <br><br>
            <button type="button" class="btn btn-dark mb-4 btn-sm">Read more</button>
        </center>
        </div> 
    </div>
</div>


  </div>
  </div>
<br><br>

